# IDEs
.idea
.vscode
.run/

# Mac OS X
.DS_Store

# Working directories/files
research.py
tmp
!.gitkeep

# Python
venv

# Python distribution/packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
__pycache__/
**/__pycache__/
*.pyc

# Terraform
**/.terraform/*
*.plan
*.tfstate
*.tfstate.*
*.tfvars
!terraform.tfvars
/modules/scan-scheduler-lambda/function.zip
/modules/scan-scheduler-lambda/lambda_function.zip
/modules/scan-scheduler-lambda/.terraform.lock.hcl
/modules/scan-scheduler-lambda/response.json
/modules/scan-scheduler-lambda/lambda.zip
